.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content{
    padding-top: 15px;
}

.list-group-item{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.item-list-content{
    padding: 15px;
}
