<nz-card>

  <div>
    <button nz-button nzType="primary" disabled>上传</button>
  </div>

  <nz-divider></nz-divider>

  <nz-breadcrumb nz-col class="disk-folder">
    <nz-breadcrumb-item (click)="rootClick()"><a href="javascript:void(0)">Root</a></nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let f of folder;let index = index" (click)="folderClick(index)"><a
      href="javascript:void(0)">{{f}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="disk-table-content">
    <nz-table
      #rowSelectionTable
      [nzData]="dataSet"
      [nzLoading]="isLoading"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      (nzCurrentPageDataChange)="currentPageDataChange($event)">
      <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="checkAll($event)"></th>
        <th>文件名</th>
        <th>权限</th>
        <th>大小</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data;let index = index">
        <td nzShowCheckbox [(nzChecked)]="data.checked"
            (nzCheckedChange)="refreshStatus()"></td>
        <td (click)="nextLevel(data.filename,data.isFolder)"><i class="anticon anticon-folder" *ngIf="data.isFolder"><i
          class="anticon anticon-file"
          *ngIf="!data.isFolder"></i></i>&nbsp;&nbsp;<a href="javascript:void(0)">{{data.filename}}</a>
        </td>
        <td>{{data.permission}}</td>
        <td>{{bytesToSize(data.size)}}</td>
        <td nzRight="0px">
          <div class="editable-row-operations">
            <ng-container>

              <a nzType="primary" (click)="download(data.isFolder,data.realPath)">下载</a>
              <nz-divider nzType="vertical"></nz-divider>
              <ng-container>
                <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="sureDel(data.realPath)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()"
          [nzMaskClosable]="false"
>
  <ng-template #modalTitle>
    确定下载？
  </ng-template>

  <ng-template #modalContent>
    <p>手机性能有限，文件需压缩后下载，下载可能需要一点时间</p><b style="color: red;">下载完成之前无法进行任何操作，耐心等待!</b>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleDownloadOk()" [nzLoading]="isConfirmLoading">确定</button>
  </ng-template>
</nz-modal>
