<nz-card>
  <div nz-row nzType="flex" nzJustify="space-between">
    <nz-breadcrumb nz-col>
      <nz-breadcrumb-item>{{dbName}}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{tableName}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div nz-col class="db-version">
      <input class="search-input" nz-input placeholder="Query Search" (input)="onQuerySearch($event.target?.value)">
      <span>Version:{{version}}</span>
      <button nz-button nzType="primary" (click)="downloadClick(dbPath)">Export</button>
    </div>
  </div>

  <div class="db-table-content">
    <nz-table #basicTable
              [nzPageIndex]="pageIndex"
              [nzData]="dataSet"
              [nzFrontPagination]="false"
              [nzPageSize]="pageSize"
              [nzLoading]="isLoading"
              [nzTotal]="count"
              nzBordered
              [nzScroll]="{ x:'130%' }"
              [nzShowQuickJumper]="true"
              (nzPageIndexChange)="pageIndexChange($event)">
      <thead>
      <tr>
        <th *ngFor="let label of columns" [nzWidth]="150">{{label.columnName}}
          <nz-dropdown nzTrigger="click" [nzClickHide]="false">
            <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
            <div class="custom-filter-dropdown">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue">
              <button nz-button [nzType]="'primary'" (click)="search(label.columnName)">Search</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzWidth="50px" nzRight="0px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let label of columns" >
          <ng-container *ngIf="!editCache[data[this.pk]].edit || label.isPrimary">

            <ng-container *ngIf="data[label.columnName] && data[label.columnName].length > 50">
              <app-table-text-format [text]="data[label.columnName]"></app-table-text-format>
            </ng-container>

            <ng-container *ngIf="!(data[label.columnName] && data[label.columnName].length > 50)">{{data[label.columnName]}}</ng-container>

          </ng-container>
          <ng-container *ngIf="editCache[data[this.pk]].edit && !label.isPrimary">
            <input class="edit-input" type="text" nz-input
                   [(ngModel)]="editCache[data[this.pk]].data[label.columnName]">
          </ng-container>
        </td>
        <td nzRight="0px">
          <div class="editable-row-operations">
            <ng-container *ngIf="!editCache[data[this.pk]].edit ">
              <a (click)="startEdit(data[this.pk])" nzType="primary">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <ng-container>
                <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="sureDel(data[this.pk])">
                  <a nz-popconfirm>Delete</a>
                </nz-popconfirm>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="editCache[data[this.pk]].edit">
              <a (click)="saveEdit(data[this.pk])">Save</a>
              <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data[this.pk])">
                <a nz-popconfirm>Cancel</a>
              </nz-popconfirm>
            </ng-container>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
