.db-table-content {
  padding-top: 10px;
}

.db-version {
  margin-right: 20px;
}

.db-version span {
  margin-right: 20px;
}

.editable-row-operations a {
  margin-right: 8px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

[nz-input] {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.edit-input {
  width: 100%;
}

.search-input {
  min-width: 300px;
  margin-right: 20px;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
